PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=j0FMMkFWCc1Z0Mbc2vQQmjikQwJ8m0Er
DRIVE_DISK=local
APP_NAME=Todo API
PG_HOST=127.0.0.1
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=postgres
PG_DB_NAME=todo_app
DATABASE_URL="postgresql://${PG_USER}:${PG_PASSWORD}@${PG_HOST}:${PG_PORT}/${PG_DB_NAME}?schema=public"
